html {
  font-family: 'Play', serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

body {
  height: 1080px;
  margin: 0;
  overflow: hidden;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 320px;
  animation: flashing 5s ease-in-out infinite;
}

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1180px;
  height: 80px;
  margin: 0;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 15px;
  background-color: rgb(32, 32, 32);
}

.loader {
  position: relative;
  margin-top: 40px;
  width: 1180px;
  height: 80px;
  background: linear-gradient(
    to right,
    rgb(68, 68, 68) 0,
    rgb(68, 68, 68) 20px,
    transparent 20px,
    transparent 40px
  );
  background-size: 40px 100px; /* Цикл полного узора: 120px */
  background-repeat: repeat;
  overflow: hidden;
}

.loader::before {
  position: absolute;
  content: '';
  left: -320px;
  top: 10px;
  width: 480px;
  height: 60px;
  background: linear-gradient(
    to right,
    white 0,
    white 20px,
    transparent 20px,
    transparent 40px
  );
  background-size: 40px 100px; /* Цикл полного узора: 120px */
  background-repeat: repeat;
  opacity: 0.75;
  animation: loading 5s ease-in-out infinite;
}

.slider {
  margin: 20px;
  font-size: 72px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
}

@keyframes flashing {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes loading {
  0% {
    left: -50%;
  }

  100% {
    left: 100%;
  }
}

.chart-container {
  width: 1440px;
  height: 720px;
  margin: 20px;
}
